body {
  background-color: white;
}
.navbar-brand {
  margin: 0px;
  padding: 0px;
}

.navbar-brand img{
  height: 100%;
}

.navmenu{
  padding-top: 5px;
}

/*for animating spinner */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.anchor{
  cursor: pointer;
}